<div class="container-fluid rounded py-20 bg-info" *ngIf="currentUser">
  <div class="container-xl">
    <div class="row my-2 py-2">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-1 mt-2">
            <a routerLink="/">
              <img src="\assets\employee.png" alt="logo" style="width:50px;">
            </a>
          </div>
          <div class="align-left font-weight-bold h2 mt-3">Employee Management Portal</div>
        </div>
      </div>
      <div class="col-md-2 float-right">
        <div class="row">
          <a class="col-md-3 mt-3" (click)="opendModal('custom-modal-2')">
            <img src="\assets\profile.png" alt="logo" style="width:40px; height:40px;">
          </a>
          <a class="col-md-4 mt-2" (click)="opendModal('custom-modal-1')">
            <img src="\assets\settings.png" alt="logo" style="width:50px;">
          </a>
          <a class="mt-4 h4" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Change Password Modal-->
  <form [formGroup]="changePasswordForm">
    <jw-modal id="custom-modal-1">
      <h3>Change Password</h3>
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" formControlName="currentPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" />
        <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
          <div *ngIf="f.currentPassword.errors.required">Password is required</div>
          <div *ngIf="f.currentPassword.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword"> New Password</label>
        <input type="password" formControlName="newPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">Password is required</div>
          <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && (f.confirmPassword.errors || !arePasswordsMatching()) }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
          <div *ngIf="f.confirmPassword.errors.minlength">Password must be at least 6 characters</div>
        </div>
        <div class="invalid-feedback">
          <div *ngIf="!arePasswordsMatching()">Passwords don't match</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
        </button>
      </div>
      <div class="text-right">
        <button (click)="closeModal('custom-modal-1');" class="btn btn-primary">Close</button>
      </div>
    </jw-modal>
  </form>

  <!-- Upload Picture Modal -->
  <jw-modal id="custom-modal-2">
    <h3>Upload your picture</h3>
    
    <img [src]="url" height="200"> <br />
    <input type='file' (change)="onSelectFile($event)">

    <div class="text-right">
      <button (click)="closeModal('custom-modal-2');" class="btn btn-primary">Close</button>
    </div>
  </jw-modal>

</div>
