<div class="container-fluid rounded py-20 bg-info" *ngIf="currentUser">
  <div class="container-xl">
    <div class="row my-2 py-2">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-1 mt-2">
            <a routerLink="/">
              <img src="\assets\employee.png" alt="logo" style="width:50px;">
            </a>
          </div>
          <div class="align-left font-weight-bold h2 mt-3">Employee Management Portal</div>
        </div>
      </div>
      <div class="col-md-2 float-right">
        <div class="row">
          <a class="col-md-3 mt-3">
            <img src="\assets\profile.png" alt="logo" style="width:50px; height:40px;">
          </a>
          <a class="col-md-3 mt-3">
            <img src="\assets\settings.png" alt="logo" style="width:40px;">
          </a>
          <a class="mt-4 h4" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>