<div class="container-fluid min-vh-100 ">

    <app-header></app-header>
    <!-- main content container -->
    <div [ngClass]="{ 'jumbotron': !currentUser }">
        <div class = "container-fluid vh-100">
            <div class="row">
                <div class="col-md-8">
                    <alert></alert>
                    <router-outlet></router-outlet>
                </div>
                <div class="col-md-4 bg-info " *ngIf="currentUser">
                    <div>
                        <p><a routerLink="./important-links"  class="text-dark">Important Links</a></p>
                    </div>
                    <div class="text-secondary">
                        <p><a routerLink="./tutorials" class="text-dark">Tutorials</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>