<div class="btn-lg">
  <a routerLink="/" role="button" aria-pressed="true">Back</a>
</div>
<div>
<form [formGroup]="addBuddyForm">
  <section class="filter-wrapper">
    <div class="keyword-wrapper">
      <input formControlName="searchField" type="text" id="keyword" placeholder="search for employees..." autofocus />
    </div>
    <ul class="filter-select" *ngIf="users" >
      <li *ngFor="let user of users" class="filter-select-list" (click)="onSelect(user)">
        <p class="user-name">
          {{user.firstName + ' ' + user.lastName}}</p>
      </li>
    </ul>
  </section>
</form>
