<div class="btn-lg active btn-outline-light" style="float: right;">
  <a routerLink="/"   role="button" aria-pressed="true">Back to homepage</a>
  </div>
  <div class="mt-5">
  <div class = "font-italic ">
    <ul>
      <h2>Tutorials</h2>
    <tr><a href="https://www.w3schools.com/html/"  target="_blank"> Visit our HTML tutorial</a></tr>
    <tr><a href="https://angular.io/tutorial"  target="_blank">Visit Angular tutorial</a></tr>
    <tr><a href="https://www.typescriptlang.org/docs/handbook/typescript-in-5-minutes.html"  target="_blank">Visit our TypeScript tutorial</a></tr>
    <tr><a href="https://docs.docker.com/get-started/"  target="_blank">Visit our Docker tutorial</a></tr>
    <tr><a href="https://webpack.js.org/guides/getting-started/"  target="_blank">Visit our Webpack tutorial</a></tr>
    </ul>
  </div>
  </div>