<div class="btn-lg active">
  <a routerLink="/" role="button" aria-pressed="true">Back</a>
</div>
<div class="font">
  <ul>
    <h2>Important Links</h2>
    <tr><a href="https://animate.style/" target="_blank"> Animate CSS</a></tr>
    <tr><a href="https://www.npmjs.com/" target="_blank">NPM</a></tr>
    <tr><a href="https://codekitapp.com/" target="_blank">Codekit-app</a></tr>
    <tr><a href="https://www.jetbrains.com/webstorm/download/#section=windows" target="_blank">Webstrom</a></tr>
    <tr><a href="https://html5boilerplate.com/" target="_blank">HTML5 Boiler plate</a></tr>
  </ul>
</div>
